.header {
  display: flex;
  grid-area: h;
}
.header img {
  width: 310px;
  height: 100%;
}

.social {
  width: 100%;
  font-size: 125px;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgba(204, 0, 0, 0.733);
  padding: auto;
  margin-left: 20px;
}
