


.header {
  display: flex;
  grid-area: h;
}
.header img {
  width: 310px;
  height: 100%;
}

.social {
  box-sizing: border-box;
  font-size: 125px;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgba(204, 0, 0, 0.733);
  display: inline-block;
  margin-left: 20px;
  padding: 20px;
}
.login{
  box-sizing: border-box;
  margin-top: 54px;
  padding: 5px;
  display: flex;
  text-decoration: none;
  color: white;
  font-size: 35px;
  text-align: center;
}
.loginLink{
  box-sizing: border-box;
  margin-top: 54px;
  padding: 5px;
  display: flex;
  text-decoration: none;
  color: white;
  font-size: 35px;
  text-align: center;
}
.img{
  text-align: center;
}